*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.mybox1:hover{
    box-shadow: 1px 15px 9px -1px rgba(130,128,130,0.58) !important;
cursor: pointer;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.mylinks:hover{
 color: rgba(247, 183, 7, 0.925) !important;
}

.carttotalbox{
    
}